.box {
  height: 100px;
  width: 100px;
  border: 5px solid rgb(0, 255, 34);
  padding: 10px 25px;
  font-size: 16px;
  text-align: center;
  line-height: 100px;
  border-radius: 150px 0px;
  background-color: rgb(5, 133, 5);
  margin: 30px;
}
.bd-img {
  width: 250px;
  font-size: 20px;
  text-align: center;
  margin: 30px;
  padding: 30px;
  border: 13px solid transparent;
  border-image: url(border.png) 30 round;
}

.bd-img1 {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  margin: 30px;
  padding: 30px;
  border: 13px solid transparent;
  border-image: url(border.png) 40 round;
}
.bd-img2 {
  width: 250px;
  font-size: 20px;
  text-align: center;
  margin: 30px;
  padding: 30px;
  border: 13px solid transparent;
  border-image: url(border.png) 30 stretch;
}
.bd-img3 {
  width: 250px;
  font-size: 20px;
  text-align: center;
  margin: 50px;
  padding: 50px;
  border: 13px solid transparent;
  border-image: url(border-2.png) 30 fill / 30px / 30px space;
}

.clip {
  background-color: yellow;
  border: 10px dotted red;
  padding: 150px;
  margin: 30px;
  text-align: center;
  font-size: 36px;
  background-clip: content-box;
}

.clip1 {
  background-color: yellow;
  border: 10px dotted red;
  padding: 150px;
  margin: 30px;
  text-align: center;
  font-size: 36px;
  background-clip: padding-box;
}

.clip2 {
  background-color: yellow;
  border: 10px dotted red;
  padding: 150px;
  margin: 30px;
  text-align: center;
  font-size: 36px;
  background-clip: border-box;
}

.origin {
  background-color: yellow;
  border: 10px dotted red;
  padding: 150px;
  margin: 30px;
  text-align: center;
  font-size: 36px;
  background: url(snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  background-origin: content-box;
}

.origin1 {
  background-color: yellow;
  border: 10px dotted red;
  padding: 150px;
  margin: 30px;
  text-align: center;
  font-size: 36px;
  background: url(snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  background-origin: border-box;
}

.origin2 {
  background-color: yellow;
  border: 10px dotted red;
  padding: 150px;
  margin: 30px;
  text-align: center;
  font-size: 36px;
  background: url(snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  background-origin: padding-box;
}

.text {
  border: 10px dotted red;
  padding: 150px;
  margin: 30px;
  text-align: center;
  font-size: 69px;
  font-family: fantasy;
  background: url(snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.m-image {
  border: 10px dotted red;
  padding: 150px;
  margin: 30px;
  background: url(bicycle.png) right top no-repeat,
    url(bicycle.png) left bottom no-repeat,
    url(fantastic.jpg) left top no-repeat;
  background-size: 270px, 270px, cover;
}
